* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container,
.contact,
.main-title {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* About */

.container {
  position: relative;
}

.About {
  margin-top: 90px;
  margin-bottom: 10px;
}

.About .about-info p {
  color: #2c2133;
  font-size: 18px;
  line-height: 1.4;
  justify-content: center;
  text-align: justify;
  font-weight: 500;
}

.About .about-info h2 {
  color: #2c2133;
  font-weight: 700;
}

.About .about-info .about-btn {
  background-color: #2c2133;
}

/* responsive */
@media (min-width: 200px) and (max-width: 280px) {
  .About {
    margin-top: -55px;
    margin-bottom: 10px;
  }
  .About .about-info p {
    font-size: 17px;
  }
}
@media (min-width: 281px) and (max-width: 370px) {
  .About {
    margin-top: 38px;
    margin-bottom: 10px;
  }
}
@media (min-width: 371px) and (max-width: 389px) {
  .About {
    margin-top: -15px;
    margin-bottom: 10px;
  }
}
@media (min-width: 390px) and (max-width: 400px) {
  .About {
    margin-top: -30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 401px) and (max-width: 450px) {
  .About {
    margin-top: 60px;
    margin-bottom: 10px;
  }
}

@media (min-width: 500px) and (max-width: 630px) {
  .About {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 631px) and (max-width: 660px) {
  .About {
    margin-top: 90px;
    margin-bottom: 10px;
  }
}
@media (min-width: 661px) and (max-width: 750px) {
  .About {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 760px) and (max-width: 980px) {
  .About {
    margin-top: -15px;
    margin-bottom: 10px;
  }
}
@media (min-width: 980px) and (max-width: 1000px) {
  .About {
    margin-top: 90px;
    margin-bottom: 10px;
  }
}

/* Education */

------------------------------------------------------------*/
  .resume
  .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #432458;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ff4433;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #bd3f18;
  border: 2px solid #432458;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #bd3f18;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #d4d4d4;
}
.skills .progress-bar {
  width: 1px;
  height: 15px;
  transition: 0.9s;
  background-color: #241927;
}

/* Projects */

.project-img img {
  height: 250px;
}
.project-img img:hover {
  transform: scale(1.02);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #2c2133;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #2c2133;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #2c2133;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #2c2133;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Footer */

.main-contact {
  background: #2c2133;
}

.contact-center {
  padding: 20px 0px;
}

.contact-center-links {
  margin-bottom: 20px;
}

.contact-center-links h3,
.contact-center-media h3 {
  text-align: center;
  letter-spacing: 0.1rem;
  color: lightgray;
  margin-bottom: 10px;
  font-size: 28px;
}

.contact-links {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-media {
  display: flex;
  justify-content: center;
}

.contact-links li {
  margin-bottom: 10px;
  color: rgb(191, 192, 192);
}

.contact-links li a {
  margin: 0 5px;
  color: rgb(191, 192, 192);
  font-size: 18px;
  display: inline-block;
  padding: 0 2px;
}

.contact-links li a:hover {
  margin: 0 5px;
  color: rgb(228, 222, 222);
}

.contact-media li a {
  margin: 0 5px;
  color: rgb(191, 192, 192);
  padding: 5px;
  font-size: 18px;
}
.contact-media li a:hover {
  color: rgb(228, 225, 225);
}
.contact-media li a i {
  margin: 0 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.contact-media li a i:hover {
  color: rgb(255, 255, 255);
}

.footer {
  border-top: 1px solid lightgray;
  text-align: center;
  color: lightgray;
  font-style: italic;
  padding: 10px 0;
  font-size: 10px;
}
@media screen and (min-width: 664px) {
  .contact-links li {
    margin-bottom: 0;
    padding: 2px;
    margin: 0;
  }
  .contact-links li a {
    font-size: 17px;
  }
  .contact-center-links h3,
  .contact-center-media h3 {
    font-size: 20px;
  }
  .contact-links,
  .contact-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-media li a i {
    font-size: 18px;
  }
  .contact-media li a {
    font-size: 15px;
  }
  .contact-center-links h3,
  .contact-center-media h3 {
    font-size: 28px;
  }
}
@media screen and (min-width: 864px) {
  .contact-media li a i {
    font-size: 24px;
  }
  .contact-links li {
    margin-bottom: 0;
    padding: 1px;
  }
  .contact-links li a {
    font-size: 19px;
  }
  .contact-center-links h3,
  .contact-center-media h3 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1300px) {
  /* .contact-center {
    display: flex;
    justify-content: space-evenly;
  } */
  .contact-links li {
    margin-bottom: 0;
    padding: 5px;
  }
  .contact-links li a {
    font-size: 19px;
  }
  .contact-center-links h3,
  .contact-center-media h3 {
    font-size: 24px;
  }
  .contact-center-links h3,
  .contact-center-media h3 {
    font-size: 28px;
  }
}




#arrow i {
  position: fixed;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
  background-color: #da3b0b;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}



.msg{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width:300px ;
  padding: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #2c2133;
  display: none;
}
.msgAppear{
  display: block;
}
