/* Profile */
.profile-img img {
  border-radius: 50%;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 1px var(--white);
  border-radius: 50%;
}

.profile-img img:hover {
  transform: scale(1.07);
  transition: 0.5ms ease-in-out;
}

.container {
  position: relative;
}
